
.translate-x:hover{
    transform: translateX(calc(100vw - 300px)); /* mover o elemento horizontalmente*/
}

.translate-y:hover{
    transform: translateY(100px);
}

.translate:hover{
    transform: translate(400px, -100px); /* x e y */
}