body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
/* mobile (até 480px) */
@media (max-width: 480px) {
    body{
        background-color: lightblue;
    }

    main{
        font-size: 14px;
    }
}
/* table (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    body{
        background-color: lightgreen;
    }

    main{
        font-size: 16px;
    }
}

/* desktop com tela hd */
@media (min-width: 769px) and (max-width: 1079px) {
    body{
        background-color: lightseagreen;
    }

    main{
        font-size: 18px;
    }
}

/* desktop com tela full hd */
@media (min-width: 1080px) and (max-width: 1919px) {
    body{
        background-color: lightcoral;
    }

    main{
        font-size: 18px;
    }
}

/* desktop com tela 2k */
@media (min-width: 1920px) and (max-width: 2559px) {
    body{
        background-color: lightslategrey;
    }

    main{
        font-size: 20px;
    }
}

/* desktop com tela 4k e maior */
@media (min-width: 2559px)
    body{
        background-color: blue;
    }

    main{
        font-size: 20px;
    }
