main{
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.efeito{
    overflow: hidden;
    margin: 20px 0;
}

.efeito img{
    width: 100%;
    transition: transform 0.5s ease;
}

.efeito img:hover{
    transform: scale(1.2);
}

