body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #333;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #3498db;
}